<!DOCTYPE html>
<html ng-app="RepsApp">
  <head>
    <meta charset="utf-8">
    <title>Find your representative</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/custom/custom.css" />
    <!-- TODO You need to put your style imports here -->
    <style>
      body { padding-top: 70px;}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container=fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Search for Reps</a>
        </div>
      </div>
    </nav>

    <div ng-controller="MainCtrl as main" class="container">

      <div class="radio">
        <label>
          <input type="radio" ng-model="main.congressType"  value="sens" />
          Senators
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" ng-model="main.congressType"  value="reps" />
          Represenatives
        </label>
      </div>

      <form class="form-inline form-group" ng-submit="main.criteria.method(main.input)">
        <select ng-change="main.input = ''" class="form-control" ng-model="main.criteria" ng-options="item as item.label for item in main.apis"></select>
        <input autofocus class="form-control" type="text" ng-model="main.input" ng-disabled="main.loading"/>
        <button class="btn btn-info" type="submit" ng-disabled="main.loading || !main.input">Submit</button>
      </form>


      <div>
        <span>List Key: </span>
        <span class="form-inline R">Republican</span>
        <span class="form-inline D">Democrat</span>
      </div>

        <ul class="list-group">
          <li class="list-group-item" ng-show="main.loading">
            Loading...
          </li>
          <li class="list-group-item" ng-show="main.reps.length === 0 && main.searchOnce && !main.loading && !  main.input == ''">
            <p>No Results for '{{main.input}}'</p>
            <p>Rephrase your search criteria and try again.</p>
          </li>
          <li ng-hide="main.loading" class="list-group-item {{rep.party}}" ng-repeat="rep in main.reps">
            <h4 class="list-group-item-heading"><a href="{{rep.link}}">{{rep.name}} ({{rep.type}})</a></h4>
            <p>State: {{rep.state}}</p>
            <p>District: {{rep.district}}</p>
            <p>Phone: {{rep.phone}}</p>
            <p>Office: {{rep.office}}</p>
          </li>
        </ul>
    </div>

    <!-- TODO You need to put your script tags here -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
